.display {
  position: fixed;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 35px;

  .informMenu {
    div {
      display: flex;
      justify-content: center;
    }
  }
}
